<%- include('./partials/_header.ejs') %>

    <section>
        <h1 class="center-text">Register the User</h1>

        <div class="card center-div">
            <div class="card-title">New User </div>
            <div class="card-content">
                <div class="form">
                    <form action="/customer" method="post">
                        <div class="form-field">
                            <label for="userName">Name</label><br />
                            <input class="input" type="text" name="userName" id="userName" required autofocus>
                        </div>

                        <div class="form-field">
                            <input type="submit" value="Create Fruit" class="btn btn-primary full-width">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

    <%- include('./partials/_footer.ejs') %>