<h1>This text is in the file sidebar.ejs</h1>
<!-- This sidebar is going to be for the navigation -->
<div class="navigation">
    <ul>
        <li>
            item1
        </li>
        <li>
            item2
        </li>
        <li>
            item3
        </li>
    </ul>
</div>