<!-- This sidebar is going to be for the navigation -->
<div class="navigation">
    <nav>
        <h2>Menu</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/appointments">Appointments</a></li>
            <li><a href="/my-appointments">My Appointments</a></li>
            <li><a href="/boarding">Boarding</a></li>
            <li><a href="/customer">Customer List</a></li>
            <li><a href="/grooming">Grooming</a></li>
            <li><a href="/registration">Registration</a></li>
            <li><a href="/training">Training</a></li>
        </ul>
    </nav>
</div>