<!--
    ==============================================
    ;   Title: appointment.ejs
    ;   Author: Patrick Cuauro
    ;   Date: 01 27 2023
    ;   Modified by: Patrick Cuauro
    ;   Description: Sub page from Pet-R-Us
    ==============================================
    -->
<div id="container">
    <div id="a" class="grid-container">
        <div class="item1">
            <h1>Appointments now Available</h1>
            <br>
            <%= text %>
        </div>
        <div class="item2">
            <%- include('./layouts/sidebar.ejs') %>
        </div>
        <div class="item3">
            <form action="/appointment" method="post">
                <!-- this div was divided in two to help readability otherwise the names will be misaligned -->
                <!-- remember to verify the css file -->
                <legend>Contact details</legend>
                <label for="userName">Introduce the username:</label>
                <input type="text" name="userName" id="userName">
                <br>
                <label for="firstName">Introduce the first name:</label>
                <input type="text" name="firstName" id="firstName">
                <br>
                <label for="lastName">Introduce the last name:</label>
                <input type="text" name="lastName" id="lastName">
                <br>
                <label for="email">email:</label>
                <input type="text" name="email" id="email">
                <br>
                <label for="service">Select the service needed:</label>
                <select name="service" id="service" class="dropdown-menu">
                    <% services.forEach((service)=> { %>
                        <option value="'<%= service.value %>'">
                            <%= service.text %>
                        </option>
                        <% }) %>
                </select>
                <br>
                <input type="submit" value="Submit Appointment" class="btn"></button>
            </form>
        </div>
        <div class="item4">
            <img src="/images/appointment-medium.jpg" width="250" height="250" alt="appointment-pic">
        </div>
        <div class="item5">
        </div>
    </div>
</div>