<!--
    ==============================================
    ;   Title: appointment.ejs
    ;   Author: Patrick Cuauro
    ;   Date: 01 27 2023
    ;   Modified by: Patrick Cuauro
    ;   Description: Sub page from Pet-R-Us
    ==============================================
    -->
<div id="container">
    <div id="a" class="grid-container">
        <div class="item1">
            <h1>Appointments now Available</h1>
        </div>
        <div class="item2">
            <nav>
                <h2>Menu</h2>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/grooming">Grooming</a></li>
                    <li><a href="/training">Training</a></li>
                    <li><a href="/boarding">Boarding</a></li>
                    <li><a href="/customer">Customer List</a></li>
                    <li><a href="/registration">Registration</a></li>
                </ul>
            </nav>
        </div>
        <div class="item3">
            <form action="/appointment" method="post">
                <!-- this div was divided in two to help readability otherwise the names will be misaligned -->
                <!-- remember to verify the css file -->
                <div class="titles">
                    <label for="userName">Introduce the username:</label>
                    <br>
                    <label for="firstName">Introduce the first name:</label>
                    <br>
                    <label for="lastName">Introduce the last name:</label>
                    <br>
                    <label for="email">email:</label>
                    <br>
                    <label for="service">Select the service needed:</label>
                </div>
                <div class="selections">
                    <input type="text" name="userName" id="userName">
                    <br>
                    <input type="text" name="firstName" id="firstName">
                    <br>
                    <input type="text" name="lastName" id="lastName">
                    <br>
                    <input type="text" name="email" id="email">
                    <br>
                    <select name="service" id="service" class="dropdown-menu">
                        <% services.forEach((service))=> { %>
                            <option value="'<%= service.value %>'">
                                <%= service.text %>
                            </option>
                            <% }) %>
                    </select>
                </div>
                <input type="submit" value="Submit Appointment" class="btn">Submit</button>
            </form>
        </div>
        <div class="item4">
            <img src="/images/appointment-medium.jpg" width="250" height="250" alt="appointment-pic">
        </div>
        <div class="item5">
        </div>
    </div>
</div>