<!--
    ==============================================
    ;   Title: boarding.ejs
    ;   Author: Patrick Cuauro
    ;   Date: 01 27 2023
    ;   Modified by: Patrick Cuauro
    ;   Description: Sub page from Pet-R-Us
    ==============================================
    -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Solitreo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/site.css">
    <title>Boarding Page</title>
</head>

<body>
    <h1>Under construction</h1>
    <h2>
        <%= text %>
    </h2>
    <%- include('./layouts/sidebar.ejs') %>
        <br>
        <img width="1024px" src="/images/under-construction-full-size.jpg">
        <footer>
            copyright 2023
        </footer>
</body>


</html>