<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WEB 340 – NodeJS</title>
    <link rel="stylesheet" href="../styles/site.css" />
</head>
<header>
    Pet-R-Us
</header>

<body>
    <div id="container">
        <h1>Grooming</h1>
        <h2>
            <%= text %>
        </h2>
        <a href=".">Home</a>
    </div>
</body>
<footer>
    copyright 2023
</footer>

</html>