<!--
    ==============================================
    ;   Title: index.ejs
    ;   Author: Patrick Cuauro
    ;   Date: 01 26 2023
    ;   Modified by: Patrick Cuauro
    ;   Description: Landing page for the Pet-R-Us
    ;      project. WEB340 - week 4
    ==============================================
    -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/site.css" />
    <title>Pet-R-Us</title>
</head>
<header>
    Pet-R-Us
</header>

<body>
    <div id="container">
        <div id="a" class="grid-container">
            <div class="item1">
                <h1>Pet R Us</h1>
            </div>
            <div class="item2">
                <nav>
                    <ul>
                        <li><a href="/grooming">Grooming</a></li>
                        <li><a href="/appointment">Appointments</a></li>
                        <li><a href="/boarding">Boarding</a></li>
                        <li><a href="/customer">Customer List</a></li>
                        <li><a href="/training">Training</a></li>
                        <li><a href="/registration">Registration</a></li>
                    </ul>
                </nav>

            </div>
            <div class="item3">
                <img src="/images/pet-1.jpg" width="430px" height="285px" alt="mini-doberman">
            </div>
            <div class="item4">
                <ul>
                    <li>Locations</li>
                    <li>Location Hours</li>
                    <li>Dog of the week</li>
                    <li>Testimonials</li>
                    <li>Contact us</li>
                </ul>
            </div>
            <div class="item5">
                copyright 2023
            </div>
        </div>
        <!-- <h1>Pet R Us</h1>
        <div class="grid">
            <div>
                <p>Locations</p>
            </div>
            <div>
                <p>Location Hours</p>
            </div>
            <div>
                <p>Dog of the week</p>
            </div>
            <div>
                <p>Testimonials</p>
            </div>
            <div>
                <p>Contact us</p>
            </div>
        </div>
        <h2>
            <%= text %>
        </h2>
        <nav>
            <ul>
                <li><a href="/grooming">Grooming</a></li>
                <li><a href="/appointment">Appointments</a></li>
                <li><a href="/boarding">Boarding</a></li>
                <li><a href="/customer">Customer List</a></li>
                <li><a href="/training">Training</a></li>
                <li><a href="/registration">Registration</a></li>
            </ul>
        </nav>

        <img src="/images/pet-1.jpg" width="430px" height="285px" alt="mini-doberman">
        <br>
    </div> -->
</body>
<footer>
    copyright 2023
</footer>

</html>