<!--
    ==============================================
    ;   Title: index.ejs
    ;   Author: Patrick Cuauro
    ;   Date: 01 26 2023
    ;   Modified by: Patrick Cuauro
    ;   Description: Landing page for the Pet-R-Us
    ;      project. WEB340 - week 4,5
    ==============================================
    -->
<div id="container">
    <div id="a" class="grid-container">
        <div class="item1">
            <h1>Welcome to your Pet's paradise!</h1>
        </div>
        <div class="item2">
            <nav>
                <h2>Menu</h2>
                <ul>
                    <li><a href="/grooming">Grooming</a></li>
                    <li><a href="/appointments">Appointments</a></li>
                    <li><a href="/training">Training</a></li>
                    <li><a href="/boarding">Boarding</a></li>
                    <li><a href="/customer">Customer List</a></li>
                    <li><a href="/registration">Registration</a></li>
                </ul>
            </nav>

        </div>
        <div class="item3">
            <img src="/images/pet-1.jpg" alt="mini-doberman" width="500" height="335">
        </div>
        <div class="item4">
            <h2>Locations</h2>
            <ul>
                <li>
                    <a href="https://goo.gl/maps/5BnKbmPFQJAyjeEu7">5337 N Socrum Loop Rd, Lakeland, FL
                        33809</a>
                </li>
                <li>
                    <a href="https://goo.gl/maps/L8C1wLVZV2wJcies5">9501 Palm River Rd, Tampa, FL 33619
                    </a>
                </li>
                <li>
                    <a href="https://goo.gl/maps/Tg6UsTx7qfHZgB7g7">8204 S Orange Blossom Trl, Orlando, FL 32809
                    </a>
                </li>
            </ul>
            <h2>Location Hours</h2>
            <ul>
                <li>
                    Mon-Fri 10:00am - 7:00pm
                </li>
                <li>
                    Sat 10:00am - 5:00pm
                </li>
            </ul>
            <h2>Contact us</h2>
            <ol>
                <li>
                    tel: 7862739999
                </li>
                <li>
                    <a href="mailto:prus@petrus.com">Pet-R-Us email</a>
                </li>
            </ol>
        </div>
        <div class="item5">

            <h2>Dog of the week</h2>
            <img src="/images/bulldog.png" alt="Benny" width="500" height="310">
            <br>
            <h3>Bella! the Bulldog</h3>

            <h1>Testimonials</h1>

            <p>
                My dog, Bella, is my everything. I got her when she was just a puppy and she has been by my side
                ever since. She's a Bulldog and she's the most loving and
                loyal dog I've ever known.

                When I first got Bella, I was living alone and she quickly became my companion. She would always
                be there to greet me when I came home and she would always be by my side when I needed her.
                She's been with me through all of life's ups and downs and she's always been there to comfort
                me.

                Bella is also incredibly smart. She knows all of her basic commands and she's even learned a few
                tricks on her own. She's so well-trained that she's even been able to help me out in a few
                tricky situations. For example, one time I lost my keys and she was able to find them for me.

                But Bella isn't just a companion, she's also my protector. She's always been very protective of
                me and she's always been there to keep me safe. I feel so much safer knowing that she's by my
                side, and I know that she would do anything to protect me.

                Overall, Bella is the best thing that has ever happened to me. She's my best friend, my
                companion, my protector, and my everything. I can't imagine my life without her and I know that
                I will always be grateful for the love and loyalty that she has shown me. I highly recommend
                Bella to anyone looking for a loving and loyal companion.
            </p>
            <h3>Sonya Dandy -- Bella's Owner</h3>
        </div>
    </div>
</div>