/*
===========================================
e; Title: index.ejs
; Author: Professor Krasso
; Date: 01 25 2023
; Modified by: Patrick Cuauro
; Description: Landing page
===========================================
*/
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Title of the page-->
    <title>WEB 340 – NodeJS</title>
    <link rel="stylesheet" href="../public/styles/site.css" />
</head>

<body class="light-theme">
    <div id="container">
        <!-- <i onclick="toggleMode(this)" id="icon-mode" class="fa fa-toggle-off pull-right" style="font-size: 28px"><span
                id="icon-text"></span></i>
        <br /> -->
    </div>
</body>

</html>