<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/site.css" />
    <title>WEB 340 – NodeJS</title>
</head>

<body>
    <div id="container">
        <h1>Pet R Us</h1>
        <h2>
            <%= text %>
        </h2>
        <img src="/images/pet-1.jpg" width="430px" height="285px" alt="mini-doberman">
        <br>
        <a href="/grooming">Grooming</a>
    </div>
</body>

</html>