<!--
    ==============================================
    ;   Title: registration.ejs
    ;   Author: Patrick Cuauro
    ;   Date: 01 27 2023
    ;   Modified by: Patrick Cuauro
    ;   Description: Sub page from Pet-R-Us
    ==============================================
    -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Solitreo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/site.css" />
    <title>Registration Page</title>
</head>

<body>
    <div id="a" class="grid-container">
        <div class="item1">
            <h1>Register to get a helping hand for your Pet</h1>
        </div>
        <div class="item2">
            <nav>
                <h2>Menu</h2>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/grooming">Grooming</a></li>
                    <li><a href="/appointment">Appointments</a></li>
                    <li><a href="/boarding">Boarding</a></li>
                    <li><a href="/customer">Customer List</a></li>
                    <li><a href="/registration">Registration</a></li>
                </ul>
            </nav>

        </div>
        <div class="item3">
            <!-- <div class="form"> -->
            <form action="/customers" method="post">
                <label for="customerName">Customer Name:</label>
                <input type="text" class="input" id="customerName" name="customerName" required autofocus />
                <br>
                <!-- <label for="customerLastName">Customer Last Name:</label>
                <input type="text" class="input" id="customerLastName" name="customerLastName" required autofocus />
                <br>
                <label for="customersPetName">Customer Pet's Name:</label>
                <input type="text" class="input" id="customerPetName" name="customerPetName" required autofocus />
                <br> -->
                <label for="email">Customer email:</label>
                <input type="text" class="input" id="email" name="email" />
                <br>
                <!-- this is going to be the customer id mixing the three first letters of the last
                    name and the four letters of the pets name -->
                <button class="btn btn-primary full-width" id="registerBtn" value="Register Customer">Register</button>
            </form>
            <!-- </div> -->
            <div class="form-field">
            </div>
        </div>
        <div class="item4"><img src="/images/registration-icon-small.png" width="250" height="250"
                alt="appointment-pic">
        </div>
        <div class="item5"> <span>item5</span> </div>
        <!-- <h2>
        <%= text %>
    </h2> -->
        <!-- <a href="../">Home</a> -->
        <!-- <br> -->
        <!-- <footer>
            copyright 2023
        </footer> -->
</body>


</html>