/*
===========================================
; Title: index.js
; Author: Professor Krasso
; Date: 01 25 2023
; Modified by: Patrick Cuauro
; Description: NPM dependencies work.
===========================================
*/
body {
  color: antiquewhite;
  background-color: rgb(132, 96, 49);
}
/* #hero-image {
  background-image: url(/public/images/pet-1.jpg);
} */
