/*
===========================================
; Title: index.js
; Author: Professor Krasso
; Date: 01 25 2023
; Modified by: Patrick Cuauro
; Description: NPM dependencies work.
===========================================
*/

body {
  font-family: "Solitreo", cursive;
  color: antiquewhite;
  background-color: rgb(132, 96, 49);
}
p {
  padding: 20px;
  margin: 10px;
  text-align: justify;
}
nav {
  padding: 15px;
}
/* #hero-image {
  background-image: url(/public/images/pet-1.jpg);
} */
a {
  color: antiquewhite;
  text-decoration: none;
}
a:hover {
  color: blueviolet;
}
li {
  text-align: left;
  list-style-type: none;
}
/*copied from w3schools*/
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main right right right"
    "menu footer footer footer footer footer";
  gap: 3px;
  background-color: #383913;
  padding: 5px;
}

.grid-container > div {
  background-color: rgba(186, 12, 12, 0.8);
  text-align: center;
  padding: 2px 0;
  /* font-size: 30px; */
}
.wrapper {
  background-color: rgb(186 12 12 / 80%);
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  text-align: justify;
}
.form .titles {
  padding: 10px;
  text-align: right;
}
.form .selections {
  padding: 10px;
}
.btn {
  text-align: center;
  border-style: solid 3px;
}
